
#pppp {width: 130px;
			padding:20px;float: left;
			margin: px;
		}
#pppp1 {width: 1300px;	
	padding:20px;float: top; text-align: center;
			margin: px;background-color: 
		}
#ppp {width: 130px;height: 3000px;
			padding: 32px;float: left;clear: both;
			margin: 2px;
		}
#pppp2 {width: 1300px;	
	padding:20px;float: top; text-align: center;
			margin: px;
}
#pppp5 {width: 1300px;	
	padding:20px;float: top; text-align: center;
			margin: px;
}
.p5 {width: 1300px;	
	padding:20px;float: top; text-align: center;
			margin: px;
}
a.active{font-weight: bold;color: black;}
ul{list-style: none;}
li{color: black;}

